.map__caption {
    width: 100%;
    text-align: center;
    background: #333;
    padding: 20px 0;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
.map__caption {
    padding: 0;
}
}