.header__logo {
    display: flex;
    height: 60px;
    width: 200px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/asset-1-1.svg);
}
@media screen and (max-width: 767px) {
.header__logo {
    margin-left: 20px;
    width: 150px;
}
}
