@import url(./../block/page/page.css);
@import url(./../block/header/header.css);
@import url(./../block/header/__menu/header__menu.css);
@import url(./../block/header/__menu/__open-menu/header__open-menu.css);
@import url(./../block/header/__socials/header__socials.css);
@import url(./../block/header/__socials/__link/h-socials__link.css);
@import url(./../block/header/__menu/header__menu.css);
@import url(./../block/header/__menu/__wrap/h-menu__wrap.css);
@import url(./../block/header/__menu/__link/h-menu__link.css);
@import url(./../block/header/__menu/__item/h-menu__item.css);
@import url(./../block/header/__logo/header__logo.css);
@import url(./../block/container/container.css);
@import url(./../block/header/__wrap/header__wrap.css);

@import url(../block/about/about.css);
@import url(../block/about/__paragraph/about__paragraph.css);
@import url(../block/about/__title/about__title.css);
@import url(../block/about/__photo/about__photo.css);
@import url(../block/about/__body/about__body.css);
@import url(../block/about/__block/about__block.css);
@import url(../block/about/__btn/about__btn.css);

@import url(../block/title/title.css);
@import url(../block/paragraph/paragraph.css);
@import url(../block/__btn/gold__btn.css);

@import url(../block/service/service.css);
@import url(../block/service/__wrap/service__wrap.css);
@import url(../block/service/__title/service__title.css);
@import url(../block/service/__paragraph/service__paragraph.css);
@import url(../block/service/__list/service__list.css);
@import url(../block/service/__link/service__link.css);
@import url(../block/service/__item/service__item.css);
@import url(../block/service/__body/service__body.css);
@import url(../block/team/team.css);
@import url(../block/team/__photo/team__photo.css);
@import url(../block/team/__btn/team__btn.css);
@import url(../block/team/__paragraph/team__paragraph.css);
@import url(../block/team/__body/team__body.css);
@import url(../block/team/__block/team__block.css);
@import url(../block/team/__title/team__title.css);
@import url(../block/advent/advent.css);
@import url(../block/advent/__title/advant__title.css);
@import url(../block/advent/__photo/advant__photo.css);
@import url(../block/advent/__list/advant__list.css);
@import url(../block/advent/__list/-title/advant__list-title.css);
@import url(../block/advent/__list/-subtitle/advant__list-subtitle.css);
@import url(../block/advent/__line/line-advant.css);
@import url(../block/advent/__body/advant__body.css);
@import url(../block/advent/__block/advant__block.css);


@import url(../block/map/map.css);
@import url(../block/footer/footer.css);
@import url(../block/footer/__logo/footer__logo.css);
@import url(../block/footer/__item/f-info__item.css);
@import url(../block/footer/__info/footer__info.css);
@import url(../block/footer/__copyrights/footer__copyrights.css);
@import url(../block/map/map.css);
@import url(../block/map/__title/map__title.css);
@import url(../block/map/__paragraph/map__paragraph.css);
@import url(../block/map/__caption/map__caption.css);
@import url(../block/map/__block/map__block.css);

@import url(../block/slider/slider.css);
@import url(../block/slider/__title/slider__title.css);
@import url(../block/slider/__paragraph/slider__paragraph.css);
@import url(../block/slider/__block/slider__block.css);
@import url(../block/slider/__photo/slider__photo.css);

@import url(../block/controls/controls.css);
@import url(../block/controls/__btnPrev/btnPrev.css);
@import url(../block/controls/__btnNext/btnNext.css);

@import url(../block/hidden/hidden.css);
@import url(../block/contact/contact.css);
@import url(../block/contact/-page/contact-page.css);
@import url(../block/contact/__title/contact__title.css);
@import url(../block/contact/__span/contact__span.css);
@import url(../block/contact/__paragraph/contact-page__paragraph.css);
@import url(../block/contact/__map/contact-page__map.css);
@import url(../block/contact/__iframe/contact-page__iframe.css);
@import url(../block/contact/__body/contact__body.css);
@import url(../block/contact/-text/contact-text.css);
@import url(../block/contact/-item/contact-item.css);
@import url(../block/contact/-page/__body/contact-page__body.css);
@import url(../block/value/value.css);
@import url(../block/contact/__logo/contact__logo.css);
* {
  font-family: 'Gotham Pro', sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}






