.gold__btn {
    display: block;
    max-width: 17.78571em;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1.4em;
    margin-left: -20%;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #af8a48 0%, #f3e594 100%);
}
.gold__btn:hover {
    background-size:300% auto;
    background-position:left center;
}
