.team__block {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-start;
}
@media screen and (max-width: 420px) {
    .team__block {
        display: block;;
    }
}