.about__btn {
    width: 100%;
    max-width: 17.78571em;
    position: absolute;
    bottom: 46px;
    text-align: center;
    text-decoration: none;
    left: 50%;
    color: white;
    padding: 1.4em;
    margin-left: -100px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #af8a48 0%, #f3e594 100%);
}
.about__btn:hover {
    background-size:300% auto;
    background-position:left center;
}

@media screen and (max-width: 768px) {
.about__btn {
    width: 125px;
    left: 55%;
    bottom: -45px;
    }
}
